* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.news {
  scroll-behavior: smooth;
}
@media screen and (min-width: 1400px) {
  body::-webkit-scrollbar {
    /* overflow:hidden!important; */
    /* background-color: royalblue!important; */
    display: none;
    /* overflow-y:none; */
  }
}
.filter a:hover{
  cursor:pointer;
}

.appResponses::-webkit-scrollbar {
  /* overflow:hidden!important; */
  /* background-color: royalblue!important; */
  display: none;
  /* overflow-y:none; */
}
.appResponses{
  overflow:scroll;
  margin:0 auto;
  padding:10px;
  width:90%;
  height:100px;
  border-radius:10px;
  border:1px solid #1B9AAA;
  background-color:white;
  
}
.appResponses h1{
  color:black;
}
.appQuestion{
  padding-left:30px;
  margin: 20px auto ;
  font-size:25px;
  color:#1B9AAA!important;
}
.addGenreButton{
  padding: 5px 20px;
  margin-left:5px;
  
  border-radius: 25px;
  text-align: center;
  
}
.postApplication .submit{
  display:block;
  margin:0 auto;
  padding:10px;
  font-size:15px;
}
.postApplication .submit:hover{
  color:#EF476F;
  background:White;
}
.postApplication h1{
  text-align:center;
  font-weight:bold;
  font-size:20px;
  color:#EF476F;
}
.postApplication{
  padding:10px;
  margin:0 auto;
  width:60%;
  min-width:600px;
  max-width:1200px;
  background:#1B9AAA;
  border-radius:10px;
  max-height:90%;
  overflow:scroll;
  overflow-x:hidden;
}

.question {
  color:white;
font-weight:bold;
  display:block;
  margin:30px auto 10px;
  width:90%;
  
}
.text-box{
  border-radius:10px;
  display:block;
  margin:0 auto;
  width:90%;
  resize:none;
  padding:10px;
  height:200px;
}

#addGenreButton{
  color:#F8FFE5;
  background-color: #1B9AAA;
}
#addGenreButton:hover{
  background-color:#F8FFE5;
  color: #1B9AAA;
}
.popupquestion {
  resize: none;
  color: #1B9AAA;
  background: transparent;
  border-radius: 10px;
  text-decoration-color: #ef476f;
  width: 60%;
  border: .7px solid #1B9AAA;
  outline: none;
  padding: 10px;
}
.popupquestion::placeholder{
  color:gray;
}

.close-button-q {
  /* position: fixed; */
  border: none;
  background: transparent;
  border: none;
  color: #1B9AAA;
  font-size: 40px;
  outline: none;
}

.close-button-q:hover {
  color: red;
  cursor:pointer;
}

.hideform {
  display: none;
}

.showform {
  position: relative;
  display: block;
  /* border: solid black;
  height: 400px;
  width: 600px; */
  z-index: 99999999999999999999999;
  visibility: visible;
  overflow: auto;
  overflow-x:hidden;
  position: fixed;
  background:#f8ffE5 ;
  /* padding-left: 1% ; */
  /* padding-bottom: 20px; */
  border: 2px solid white;
  border-radius: 10px;
  height: 70vh;
  /* box-shadow: 0px 0px 0px 10px #add8e6; */
  width: 50%;
  top: 50%;
  right:50%;
  transform: translateX(50%) translateY(-50%);
  
}

.app-submit {
  /* position: relative; 
  top:25px;
  right: 40%; */
  margin-top: 20px;
  padding:10px;
  border-radius:10%;

  /* margin-top: 5%; */
  height: 40px;
  border-radius: 25px;
  width: 100px;
  cursor: pointer;
  background-color: #1B9AAA;
  color: white;
  border: 1px solid white;
  outline: none;
}

.app-submit:hover{
  cursor: pointer;
    background: #FFF;
    color: rgb(226,105,91);
    border-bottom: 0px;
}




.bottom-space {
  text-align: center;
  height: 100px;
  width:95%;
}

.page_mover {
  position: relative;
  left: 52%;
  top: 700px;
}
#fa-search:hover {
  cursor: pointer;
  color: black;
}
.fa-search {
  color: white;
}
.searchBox::-webkit-search-cancel-button {
  color: White;
}
.searchBar {
  margin-left: 20px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid white;
  background: transparent;
  color: white;
  outline: none;
}
.projectProfImage {
  border: 1px solid #1b9aaa;
  width: 100px;
  height: 100px;
  /* border-radius: 25px; */
  position: absolute;
  top: 5%;
  right: 10%;
  border-radius: 50px;
}
.addGenreButton:hover {
  cursor: pointer;
}
.applied,
.bookmarked,
.posted {
  display: none;
}
.gallery {
  width: 52%;
  height: 65%;
  /* background-color: pink; */
  position: absolute;
  color: white;
  /* margin: 200px; */
  /* margin-left:25%; */
  /* top:200px; */
  top: 55%;
  left: 51%;
  transform: translate(-50%, -45%);
  overflow: scroll;
  display: block;
  overflow-x: hidden;
  /* background-color: blue; */
  /* background-color:green; */
  /* background-color:purple; */
}

#showApplicantsButton {
  margin-top: -20px;
  margin-left: 60%;
  border-radius: 25px;
  outline: none;
  border: none;
  height: 30px;
  background: #1b9aaa;
}
body .gallery .projectSec {
  position: relative;
  margin-right: 20px;
  display: block;
  padding: 0;
  max-width: 700px;
  text-overflow: ellipsis;
  margin-bottom: 20px;
}
body .gallery .BookMarkButt {
  background: #1b9aaa;
  border-radius: 25px;
  margin-top: -20px;
  padding: 5px;
  color: white;
  height: 30px;
  width: 120px;
  border: 1px solid white;
  outline: none;
  margin-bottom: 30px;
  text-align: center;
}

#acceptedApplicants {
  min-height: 175px;
  max-width: 470px;
  max-height: 175px;
  overflow: scroll;
  overflow-x: hidden;
  
}
.applicantList {
  border-radius: 10px;
  position: absolute;
  right: 10px;
  top: 20%;
  /* margin-right: 50px; */
  display: block;
  padding: 10px;
  /* min-width: 500px; */
  width: 23%;
  height: 70vh;
  color: white;
  background: rgba(0, 0, 0, 0.3);
  
}
.acceptApplicants {
  position: absolute;
  /* margin-top: 0; */
  margin-left: 35%;
  color: white;
  background: #1b9aaa;
  margin-top:-5%;
  border-radius: 10px;
  outline: none;
  border: none;
  height: 20px;
  width: 70px;
}
.acceptApplicants:hover {
  background: white;
  color: #1b9aaa;
}

.viewApp {
  position: relative;
  margin-left: 60%;
  margin-top: 0px;
  bottom:16px;
  color: white;
  background: none;
  outline: none;
  border: none;
  height: 50px;
  width: 100px;
  z-index:0;
}

#viewApp:hover {
  cursor:pointer;
  text-decoration:underline;
  color:#1b9aaa;
}

.viewAppHide {
  visibility: hidden;
  height: 0;
  width: 0;
  
}
.fa-comment-dots{
  color:white;
}
.chatButton{
  position:relative;
  bottom:10px;
  color:white;
}
#chatButton:hover{
  color:#1b9aaa;
}
.viewAppShow{
  
  
  /* position: relative; */
  display: block;
  /* border: solid black;
  height: 400px;
  width: 600px; */
  
  visibility: visible;
  overflow: auto;
  overflow-x:hidden;
  position: fixed;
  z-index:5;
  background:#f8ffE5 ;
  /* padding-left: 1% ; */
  /* padding-bottom: 20px; */
  border-radius: 10px;
  height: 70vh;
  /* box-shadow: 0px 0px 0px 10px #add8e6; */
  width: 50%;
  top: 50%;
  right:50%;
  transform: translateX(50%) translateY(-50%);
}

.appHeading {
  font-family: 'Inter', sans-serif; 
  font-size:30px;
  padding:10px;
  text-align: center;
  background-color: #06D6A0; 
  color: white!important;
}

.listNames {
  min-height: 190px;
  max-width: 470px;
  max-height: 190px;
  overflow: scroll;
  overflow-x: hidden;
}
#listProjName {
  font-size: 25px;
}
#totalApplicants {
  font-size: 15px;
}
#editButton {
  background: #1b9aaa;
  border-radius: 25px;
  padding: 5px;
  color: white;
  height: 30px;
  width: 70px;
  border: 1px solid white;
  outline: none;
}
#deleteButton {
  background: #1b9aaa;
  border-radius: 25px;
  margin-top: -20px;
  padding: 5px;
  color: white;
  height: 30px;
  width: 100px;
  border: 1px solid white;
  outline: none;
  /* position:relative; */
  /* position:absolute; */
}
#applyChanges {
  background: #1b9aaa;
  border-radius: 25px;
  padding: 10px;
  color: white;
  height: 40px;
  border: 1px solid white;
  outline: none;
}
.project {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.15);
  transition: box-shadow 83ms;
  width: 100%;
  /* height:80vh; */
  background-color: white;
  /* float:right; */
  padding: 2%;
  border-radius: 10px;
  /* position: relative; */
  /* height: 150px; */
}
.projectSec .project .projdesc {
  font-size: 15px;

  text-overflow: ellipsis;
}
.projectSec .expired {
  border: 2px solid transparent;
  background-color: #ef476f;
  padding: 2px;
  border-radius: 5px;
  position: absolute;
  top: 15%;
  right: 2%;
  color: white;
  font-size: 12px;
}
.box {
  position: relative;
  width: 1400px;
  /* overflow:hidden; */
  margin: 0 auto;
  height: 95vh;
  /* background: royalblue; */
  /* background-color:pink; */
}
.pagination {
  text-align: center;
  position: relative;
  top: 80vh;
  left: 50%;
  height: 20px;
  transform: translateX(-50%);
  /* background-color:green; */
}
.pagination .step-links {
  margin: 0 auto;
}
.project:hover {
  cursor: pointer;
}

.pagination .step-links a {
  /* color:white; */
  margin-left: 5px;
  display: inline-block;
  background-color: #06d6a0;
  width: 100px;
  border-radius: 12px;
}
.filter {
  position: absolute;
  width: 20%;
  top: 40%;
  transform: translateY(-40%);
  /* left:50%; */
  /* transform: translateY(-30%); */
  min-height: 40vh;
  height: auto;
  float: left;
  /* background-color: lightgray; */
}

.plus {
  z-index: 1;
}

.featureslist {
  position: relative;
  width: 100%;
  /* z-index:9999999999999999999999999999; */
  height: 80px;
  top: 75px;
  /* background-color:blue; */
}
.featureslist .features .item a {
  display: block;
  /* line-height: 50%; */
  /* padding-top: 10px; */
  width: 100%;
  height: 100%;
  line-height: 30px;
  /* background-color: blue; */
  /* display:block; */
  /* text-align: center; */
  /* margin-right:20px; */
  /* line-height:20px; */
  /* margin-bottom:30px; */
  text-align: center;
  color: #1b9aaa;
  font-weight: 700;
}

body .filter {
  background-color: #1b9aaa;
  margin-left: 10px;
  min-width: 300px;
  max-width: 300px;
  /* height:70%; */
  border: solid white;
  border-radius: 25px;
  /* margin-top:10px; */
}

/* .filters {
    background-color:blue;
    /* position: absolute; */
/* left: 20%; */
/* width: 50px; */

/* .fa{
    
}
.fa:hover{
    cursor:pointer;
} */
.filteritem {
  color: white;
  width: 200px;
}

.expand-section {
  visibility: visible;
}

.hide-section {
  visibility: hidden;
  display: none;
}

/* .featureslist .features {
    position: relative;
    bottom: 200px;
    
} */

.featureslist ul {
  position: absolute;
  /* background-color: green; */
  /* top:0; */
  /* right:0; */
  /* margin:0 auto; */
  /* right:50%; */
  left: 50%;

  transform: translateX(-50%);
  /* transform: translateX(50%) translateY(-50%); */
}
.interestTypes {
  color: white;
  width: 200px;
}
.filter ul {
  /* background-color:purple; */
  width: 25%;
  text-align: left;
  float: left;
  margin: 0 0 20px 20px;
  /* position: fixed; */
}
.filter_options {
  color: white;
  padding: 2px;
  border: none;
  background: none;
  font-weight: 700;
}

.interest {
  border: none;
}

.bar {
  text-align: left;
}
.hvr-underline-reveal:hover {
  color: white;
  text-decoration: underline;
  width: 100%;
}
.hvr-underline-reveal {
  font-weight: bold;
  /* display: inline-block; */
  /* vertical-align: middle; */
  /* -webkit-transform: perspective(1px) translateZ(0); */
  /* transform: perspective(1px) translateZ(0); */
  /* box-shadow: 0 0 1px rgba(0, 0, 0, 0); */
  /* position: relative; */
  /* overflow: hidden; */
  /* width: 200px; */
  /* bottom: 20px; */
  float: right;
  /* text-align: right; */
  color: #ef476f;
}
.boxes {
  float: right;
}
.projname,
.projpeople,
.projdesc {
  color: black;
}
.current {
  color: black;
}

.btn-2:hover,
.btn-2:active {
  letter-spacing: 5px;
}

.btn-2:after,
.btn-2:before {
  backface-visibility: hidden;
  border: 1px solid rgba(#fff, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.btn-2:hover:after,
.btn-2:hover:before {
  backface-visibility: hidden;
  border-color: #fff;
  transition: width 350ms ease-in-out;
  width: 70%;
}

.btn-2:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}

.featureslist .features li {
  position: relative;
  /* z-index:9999999999; */
  background-color: transparent;
  height: 40px;
  width: 135px;
  text-align: center;
  /* line-height:40px; */
  margin-right: 20px;
  color: #1b9aaa;
  overflow: hidden;
  border-radius: 5px;
}
.featureslist .features li:last-child {
  margin-right: 0;
}
.featureslist .features li span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: transparent;
  border: 5px solid #1b9aaa;
}
.featureslist .features li span::before {
  content: "";
  position: absolute;
  width: 8%;
  height: 500%;
  background: #f8ffe5;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(-60deg);
  transition: all 0.3s;
}

.featureslist .features .item:hover span::before {
  transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  width: 100%;
  background-color: #1b9aaa;
}
.featureslist .features .item:hover a {
  color: white;
  text-decoration: none;
}
.profileBox {
  position: absolute;
  margin-top: 100px;
  height: 520px;
  width: 500px;
  background: transparent;
  left: 720px;
  padding: 40px;
  border-radius: 25px;
  border: 5px solid white;
}
.profileBox h1 {
  text-align: center;
  margin-left: 10px;
  font-size: 50px;

  color: #1b9aaa;
}
.pubprofDesc {
  overflow: scroll;
  overflow-x: hidden;
  max-height: 150px;
}

.profileBox h3 {
  font-size: 17px;
  margin-left: 30px;
  color: #1b9aaa;
}
.profileBox img {
  border: 2px solid white;
  margin-left: 10px;
  width: 400px;
  max-width: 400px;
  max-height: 200px;
  height: auto;
  border-radius: 30%;
}

.scrollnews {
  position: absolute;
  left: 79%;
  width: 24%;
  height: 30px;
  margin-top: -30px;
  /* background-color:green; */
  border-radius: 0 0 25px 25px;
  background-color: rgba(0, 0, 0, 0.4);
}
/* .scrollnewsup {
    display:none;
    position:absolute;
    left:79%;
    width:24%;
    height:30px;
    margin-bottom:-30px;
    border-radius:25px 25px 0 0; 
     background-color:rgba(0,0,0,0.4); 
     z-index:2;
}  */
/* .scrollarrowup {
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%) rotate(45deg);
    border:3px solid white;
    border-bottom:none;
    border-right:none;
    width:14px;
    height:14px;
} */

.scrollnews:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
}
.scrollarrow {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -60%) rotate(45deg);
  /* background-color:blue; */
  border: 3px solid white;
  border-top: none;
  border-left: none;
  width: 14px;
  height: 14px;
}
.news {
  text-decoration-color: white;
  text-align: center;
  border: solid gray;
  background-color: white;
  height: 70vh;
  width: 24%;
  position: relative;
  left: 79%;
  /* top: 80px; */
  overflow: scroll;
  overflow-x: hidden;
  border-radius: 25px;
  box-shadow: 1px 1px 1px 1px #cccccc;
}

/* .news::after{
    content:'';
    /* bottom:15px; */
/* left:50%; */
/* position:absolute;
    transform:translateX(-50%) rotate(45deg);
    width:30px;
    height:30px;
    border:3px solid gray;
    border-left:none;
    border-top:none; */
/* } */
.news::-webkit-scrollbar {
  /* overflow:hidden!important; */
  /* background-color: royalblue!important; */
  display: none;
  /* overflow-y:none; */
}

/* .news-content {
    background-color: red;
    height: 200px;
    width: 500px;
} */

.content-box {
  position: relative;
  text-align: left;
  width: 100%;

  /* margin-left: 10px; */
  /* padding: 5%; */
  /* height: 100%; */
  height: 150px;
  /* background-color: green; */
}
/* .contentarticle{
width:80%;
height:100%;
position:absolute;
right:0;
top:0;
background-color:pink
} */

.contentarticle {
  /* background-color: pink; */
  /* position:relative; */
  /* top:50%;
    transform:translateY(-50%); */
  /* line-height: 100%; */
  padding-top: 25px;
  padding-right: 10px;
  width: 80%;
  height: 100%;
  margin-left: 15%;
}
.content-box:hover {
  /* transform: scale(1.05); */
  /* margin-left: 10px; */
  /* padding: 5%; */
  /* height: 100px; */
}
.content-list-item {
  position: relative;
}
.content-list-item::after {
  content: "";
  position: absolute;
  /* z-index:999; */
  width: 85%;
  height: 1px;
  background-color: gray;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
.content-list-item:hover {
  background-color: #f2f2f2;
}

.src_name {
  color: gray;
}

.dot {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  height: 8px;
  width: 8px;
  background-color: #1b9aaa;
  border-radius: 50%;
  /* z-index: 5; */
  /* height: 8px;
    width: 8px;
    background-color: royalblue;
    position: relative;
    left:-20px;
    border-radius: 50%;
    display: inline-block */
}

.title {
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  padding: 4px;
  color: black;
  font-style: bold;
}

.author {
  font-style: italic;
}

.image {
  float: left;
}

.loc {
  color: gray;
}

.content {
  /* border: solid black; */
  position: relative;
  top: 10px;
  font-family: "News Cycle", sans-serif;
  text-align: left;
}
.interestText{
  background:transparent;
  color:White;
  border-bottom:1px solid white;
  border-top:none;
  border-left:none;
  border-right:none;
}
.interestText::placeholder{
  color:#F8FFE5;
}
#university{
  background:transparent;
  color:white;
  border-top:none;
  border-left:none;
  border-right:none;
  border-bottom:1px solid white;
}
.filterByButton{
  padding:5px;
  background:#EF476F;
  color:white;
  border:none;
  border-radius:3px
}
.filterByButton:hover{
  color:#EF476F;
  background:white;
}
.contactLeader{
  position:absolute;
  left:10px;
  bottom:10px;
  padding:5px;
  background:#EF476F;
  color:white;
  border:none;
  border-radius:3px
}
.contactLeader:hover{
  color:#EF476F;
  background:white;
}
/* ########################## */
