*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#emoji-button {
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    cursor:pointer;
    margin-left:15px;
    font-size: 45px;
}
.friends {
    overflow:scroll;
    flex:2;
    height:100vh;
    min-width: 300px;
    border-right: 1px solid #ccc;
}

.friends::-webkit-scrollbar {
    display: none;
  }
.singularfriend{
    position:relative;
    display:block;
    width:100%;
    height:80px;
    background-color: #fff;
    /* text-align: center; */
    cursor:pointer;
}
.singularfriend span {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
ul {
        margin:0;
        padding:0;
}

.friendsbox{

    width:100%;
    margin-top:-2px;
}
.friendsbox img {
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    width:50px;
    height:50px;
    border-radius: 25px;
}

.selected {
    background-color:#ccc;
}
.singularfriend:hover {
    background-color: #ccc;
}
#chat-log {
    overflow:scroll;
    flex:8;
    top:0;
    left:0;
    height:90%;
    background-color: white;
}
.sending{
    background-color:white;
    position:absolute;
    width:79.9%;
    height:10%;
    bottom:0;
    right:0;
    text-align: center;
    border-top:1px solid #ccc;
}
#chat-message-input {
    position:relative;
    top:50%;
    transform:translateY(-50%);
    height:50%;
    width:80%;
    outline:none;
    padding-left:20px;
    margin-left:-100px;
    border:1px solid gray;
    border-radius:15px;
}
#chat-message-submit {
    position:relative;
    top:50%;
    transform:translateY(-50%);
    height:50%;
    padding:3px 15px;
    border:none;
    margin-left:10px;
    border-radius:10px;
    background-color: #1b9aaa;
}

.chatting {
    display:flex;
    overflow:hidden;
    width:100%;
    height:84.7vh;
    flex-wrap: wrap;

}
.chatName {
    padding-top:70px;
    padding-left:54%;
    padding-bottom:10px;
    font-weight:700;
    background-color: white;
    border-bottom:1px solid #ccc;
    font-size: 18px;
}    
