{%extends 'authorize_main/base.html'%}
{%load static%}

{%block content%}
{% if messages %}
{% for message in messages %}
<div style="position:relative;top:75px; z-index:99999;"
  class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
{% endfor %}
{% endif %}
{%if user.is_authenticated%}
<link rel="stylesheet" href="{%static 'authorize_main/profile.css'%}">
<div style="width: 300px;position: relative;left: 43%;top:250px;">
  <form action="{%url 'edit_profile'%}" method='post'enctype="multipart/form-data">
    {% csrf_token %}
    {%if user.profile_pic != 'None'%}
    <h1 class = "namesd">HEY</h1>
    <img style="height:100px;width: 100px;" class="profile_pic" src={{user.profile_pic.url}}
      alt="Custom Profile Picture Unable to Load"><br><br>
      <label for="img" style ="font-weight: bold;" >Select image:</label><br><br>
      <input type="file" id="img" name="img" accept="image/*">
      <br><br>
      <label style = "color: orange;" for="display_profile">Display as Public Profile Picture</label>
      {% if profile_pic == True %}
        <input type="checkbox" name = "display_profile" value ="1" checked>
      {%else%}
        <input type="checkbox" name = "display_profile" value ="1">
      {%endif%}
      
    {%else%}
    <img style="height:100px;width: 100px;" src="/media/media/default_profile.png" alt="Profile Picture Not Uploaded"><br><br>
    <label for="display_img" style ="font-weight: bold;">Select image:</label><br><br>
    <input type="file" id="img" name="display_img" accept="image/*">
    {% endif %}
    
    <br><br>
    <h1 style ="font-weight: bold;"><b>Name: {{user.first_name}} {{user.last_name}}<b></h1><br>
    
    <h3 style ="font-weight: bold;">Email</h3><br>
    <input type="text" value='{{user.email}}' name = 'email'>
    <br><br>
    <label style = "color: orange;" for="display_email">Display Email in Public Profile</label>
    {% if email == True %}
      <input type="checkbox" name = "display_email" value ="1" checked>
    {%else%}
      <input type="checkbox" name = "display_email" value ="1">
    {%endif%}
    <br><br>
    <h3 style ="font-weight: bold;">University</h3><br>
    <input type="text" value='{{user.university}}' name="university"><br><br>
    <!-- <label style = "color: orange;" for="university">Display University in Public Profile</label> -->
    <!-- {% if university == True %}
      <input type="checkbox" name = "display_university" value ="1" checked>
    {%else%}
      <input type="checkbox" name = "display_university" value ="1">
    {%endif%}  -->
    <!-- <br><br> -->
    <h3 style ="font-weight: bold;">Major</h3><br>
    <input type="text" value='{{user.major}}' name='major'><br><br>
    <!-- <label style = "color: orange;" for="major">Display Major in Public Profile</label>
    {%if major%}
      <input type="checkbox" name = "display_major" value ="1" checked>
    {%else%}
     <input type="checkbox" name = "display_major" value ="1">
    {%endif%} -->
    <!-- <br><br> -->
    <label style ="font-weight: bold;" for="school_year">School Year: </label>
    {%if user.school_year == '1'%}
    <select name="school_year">
      <option value="1" selected>Freshman</option>
      <option value="2">Sophomore</option>
      <option value="3">Junior</option>
      <option value="4">Senior</option>
    </select>
    {%elif user.school_year == '2'%}
    <select name="school_year">
      <option value="1">Freshman</option>
      <option value="2" selected>Sophomore</option>
      <option value="3">Junior</option>
      <option value="4">Senior</option>
    </select>
    {%elif user.school_year == '3'%}
    <select name="school_year">
      <option value="1">Freshman</option>
      <option value="2">Sophomore</option>
      <option value="3" selected>Junior</option>
      <option value="4">Senior</option>
    </select>
    {%else%}
    <select name="school_year">
      <option value="1">Freshman</option>
      <option value="2">Sophomore</option>
      <option value="3">Junior</option>
      <option value="4" selected>Senior</option>
    </select>
    {%endif%}
    <!-- <br><br> -->
    <!-- <label style = "color: orange;" for="school_year">Display School Year in Public Profile</label>
    
    {%if school_year%}
      <input type="checkbox" name = "display_school_year" value ="1" checked> 
    {%else%}
      <input type="checkbox" name = "display_school_year" value ="1">
    {%endif%} -->
    <br><br><button type="submit">Make Changes</button>
  </form>
</div>


<!-- <h1>Bio</h1>

      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="https://image.flaticon.com/icons/svg/1159/1159633.svg" alt="">
          </div>
          <div class="flip-card-back">
            <button id="bb" class="bb">Add Bio</button>
          </div>
        </div>

      </div>

      <div id="bio-wrapper" class="hidetextbox">
        <button id="exit" style="float: right;">X</button>
      <textarea class="textbox" name="bio" id="bio" cols="30" rows="10"></textarea>
      <button id="submit">Submit</button>
      </div>
      <div id="actualbio">

      </div>
    </div> -->


    <script>
      var biobutton = document.querySelector("#bb");
      
      var textbox = document.querySelector("#bio");

      biobutton.addEventListener('click', function(){
        document.querySelector("#bio-wrapper").classList.add("showtextbox");
      })

      var exitbutton = document.querySelector("#exit");
      exitbutton.addEventListener("click", function(){
        document.querySelector("#bio-wrapper").classList.remove("showtextbox");
        document.querySelector("#bio-wrapper").classList.add("hidetextbox");
      })

      var submitbutton = document.querySelector("#submit");
      submitbutton.addEventListener('click', function(){
        if (textbox.value == "")
        {
          biobutton.innerHTML = "Add Bio";
          alert("There is no input!")
        }
        else 
        {
          biobutton.innerHTML = "Edit Bio";
          var alltext = textbox.value;
          document.querySelector("#bio-wrapper").classList.remove("showtextbox");
          document.querySelector("#bio-wrapper").classList.add("hidetextbox");
          console.log(alltext);
          document.querySelector("#actualbio").innerHTML = "<p style='color:blue;font-size:38px;'>"+alltext+ "</p>";


        }
      })
      console.log(biobutton);

      var pfp = document.querySelector("#pfp");
      pfp.addEventListener('click', function(){
        document.querySelector(".popup").classList.remove("hide");
        document.querySelector(".popup").classList.add("show");
      })
    </script>

{%endif%}
{%endblock%}