{%extends 'authorize_main/base.html'%}
{%load static%}

{%block content%}
{% if messages %}
{% for message in messages %}
<div 
style = "background-color: #1B9AAA; position:relative;top:55px; z-index:99999;" class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
{% endfor %}
{% endif %}
{%if user.is_authenticated%}
<link rel="stylesheet" href="{%static 'authorize_main/profile.css'%}">
<div class = "wrap">
  <form class = "editProf"action="{%url 'edit_profile'%}" method='post'enctype="multipart/form-data">
    {% csrf_token %}
    {%if user.profile_pic != 'None'%}
    <div title = "Press to add photo" class="profileSec">
      <label class = "pressImg" for="img"><img class="profile_pic" src={{user.profile_pic.url}}  alt="Custom Profile Picture Unable to Load"></label>
     <br><br>
      <label for="img" class="uploadPhoto">PHOTO</label>
      <label class = "selectImg" for="img" ></label>
      <input type="file" id="img" name="img" onchange = "selectImgName();" accept="image/*">
      <label class="imgName" for="img">Add a photo to personalize your account</label>
    <div class="checkdisplay">
      <label class = "displayImg" for="img" for="display_profile">Display as Public Profile Picture {% if profile_pic == True %}
        <input type="checkbox"  name = "display_profile" value ="1" checked>
      {%else%}
        <input type="checkbox"  name = "display_profile" value ="1">
      {%endif%}</label>
     
    </div>  
  </div>
    {%else%}
    <div title = "Press to add photo" class="profileSec">
    <label class = "pressImg" for= "img"><img class="profile_pic" src="/media/media/default_profile.png" alt="Profile Picture Not Uploaded"></label> <br><br>
    <label for="img" class="uploadPhoto">PHOTO</label>
    <label class = "selectImg" for="img" ></label>
    <input type="file" id="img" name="img" onchange = "selectImgName();"accept="image/*">
    <label class="imgName" for="img">Add a photo to personalize your account</label>
  </div>
    {% endif %}
    <div class="nameSec">
    <h1 class = "nameTag">NAME</h1>
    <h1 class = "uname">{{user.first_name}} {{user.last_name}}</h1>
  </div>
    <div title = "Email: Press to edit" class="emailSec">
    <h1 class="emailTag">EMAIL</h1>
    <h3 class = "email"><input type="text" value='{{user.email}}' name = 'email' id = "emailBox"></h3>
    <div class="checkDisplayEmail">
    <label class = "displayEmail"for="display_email">Display Email in Public Profile  {% if email == True %}
      <input type="checkbox" name = "display_email" value ="1" checked>
    {%else%}
      <input type="checkbox" name = "display_email" value ="1">
    {%endif%}</label>
  
  </div>
</div>
  <div title = "University: Press to edit" class="universitySec">
    <label class = "universityTag">UNIVERSITY</label>
    <h3 class = "university"><input type="text" value='{{user.university}}' name="university" id="universityBox"></h3>
  </div>
    <!-- <label style = "color: orange;" for="university">Display University in Public Profile</label> -->
    <!-- {% if university == True %}
      <input type="checkbox" name = "display_university" value ="1" checked>
    {%else%}
      <input type="checkbox" name = "display_university" value ="1">
    {%endif%}  -->
    <!-- <br><br> -->
    <div title = "Major: Press to edit" class="majorSec">
      <label class ="majorTag">MAJOR</label>
    <h3 class = "major"><input type="text" value='{{user.major}}' name='major' id="majorBox"></h3>
  </div>
    <!-- <label style = "color: orange;" for="major">Display Major in Public Profile</label>
    {%if major%}
      <input type="checkbox" name = "display_major" value ="1" checked>
    {%else%}
     <input type="checkbox" name = "display_major" value ="1">
    {%endif%} -->
    <!-- <br><br> -->
    <div class="schoolYear">
    <label  for="school_year" class = "schoolYearTag">SCHOOL YEAR</label>
    {%if user.school_year == '1'%}
    <select name="school_year">
      <option value="1" selected>Freshman</option>
      <option value="2">Sophomore</option>
      <option value="3">Junior</option>
      <option value="4">Senior</option>
    </select>
    {%elif user.school_year == '2'%}
    <select name="school_year">
      <option value="1">Freshman</option>
      <option value="2" selected>Sophomore</option>
      <option value="3">Junior</option>
      <option value="4">Senior</option>
    </select>
    {%elif user.school_year == '3'%}
    <select name="school_year">
      <option value="1">Freshman</option>
      <option value="2">Sophomore</option>
      <option value="3" selected>Junior</option>
      <option value="4">Senior</option>
    </select>
    {%else%}
    <select name="school_year">
      <option value="1">Freshman</option>
      <option value="2">Sophomore</option>
      <option value="3">Junior</option>
      <option value="4" selected>Senior</option>
    </select>
    {%endif%}
  
  </div>
    <!-- <br><br> -->
    <!-- <label style = "color: orange;" for="school_year">Display School Year in Public Profile</label>
    
    {%if school_year%}
      <input type="checkbox" name = "display_school_year" value ="1" checked> 
    {%else%}
      <input type="checkbox" name = "display_school_year" value ="1">
    {%endif%} -->
  
  
  <div title = "Press to edit biography" class="BioSec">
    <label for = "bio" class ="BioTag">BIOGRAPHY</label>
    <h3 class = "biography"><textarea style ="overflow: auto;" name="bio" id="bio">{{user.bio}}</textarea></h3>
  </div>
  
  <button class = "makeChange" type="submit">Make Changes</button>
  </form>
  
</div>
<div class="profilefriendsList">
  <h1 style="text-align:center;margin-top:20px;color:white;font-weight:bold;">Colleagues List</h1>
  <br>
  <input type="text" placeholder="Search By Name">
  <a href="#"><i id="fa-search"class="fa fa-search" aria-hidden="true"></i></a>
  <div class="profilefriendsBox">
    {%for friend in friend_list %}
    <br>
    <div class="profilefriendsButton">
      <a href ='/posts/applicant_profile/{{friend.id}}'>
        <img style='width:100px;' src="{{ friend.profile_pic.url }}"/>
        <h1>{{friend.first_name}} {{friends.last_name}}</h1>
        <h1>{{friend.id}}</h1>
      </a>
      
    </div>
    {%endfor%}

</div>
</div>

<script type="text/javascript"src="{% static 'posts_app/js/extra.js' %}"></script>

{%endif%}
{%endblock%}