{% extends "authorize_main/base.html" %} {% load static %} {%block content%} 
{%if validlink %}
<style type="text/css">
  .pwlabelnew {
    margin-left: 3%;
    color: white;
  }
  .pwlabelconf {
    color: white;
    margin-left: 1.17%;
  }
  .pwinput input {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid white;
    color: white;
  }
  .submit {
    background-color: rgba(222, 107, 102, 1);
    border: 1px solid white;
    color: white;
    font-size: 15px;
    padding: 5px;
    margin-left: 7%;
  }
  .submit:hover {
    cursor: pointer;
    background: #fff;
    color: rgb(226, 105, 91);
    border-bottom: 0px;
  }
  .pwerror {
    color: white;
  }
  .passwordbody {
    height: 50%;
    width: 17%;
  }
</style>
<br /><br /><br /><br /><br />
<div class="passwordbody">
  <p>
    Please enter your new password twice so we can verify you typed it in
    correctly.
  </p>

  <form method="post">
    {% csrf_token %}
    <fieldset class="module aligned">
      <div class="form-row field-password1">
        <div class="pwerror">
          {{ form.new_password1.errors }}
        </div>
        <label class="pwlabelnew" for="id_new_password1" style='color: red;'>New password:</label>
        <div class="pwinput">{{form.new_password1 }}</div>
      </div>
      <div class="form-row field-password2">
        <div class="pwerror">
          {{ form.new_password2.errors }}
        </div>
        <br />
        <label class="pwlabelconf" for="id_new_password2" style='color: red;'
          >Confirm password:</label
        >
        <div class="pwinput">{{ form.new_password2 }}</div>
        <br />
      </div>
      <input class="submit" type="submit" value="Change my password" />
    </fieldset>
  </form>

  {% else %}

  <p>
    The password reset link was invalid, possibly because it has already been
    used. Please request a new password reset.
  </p>

  {% endif %}
</div>
{% endblock %}
